<!DOCTYPE html>
<html data-ng-app="MorpionSolitaire">
<head>
	<meta charset="utf-8"/>
	<meta content='width=device-width' name='viewport' />
	<title>Morpion solitaire</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="text/javascript">
		var $ = angular.element;  
	</script>
	<script type="text/javascript" src="client.js"></script>
	<script type="text/javascript" src="services.js"></script>
	<link rel="stylesheet" type="text/css" href="client.css" />
</head>
<body data-ng-controller="GameController">

	<h1>Morpion solitaire</h1>

	<div class="main">
		<canvas id="board" width="601" height="601" oncontextmenu="return false;" data-unselectable></canvas>
	</div>

	<div class="tools">
		<span data-dic-text="lines"></span>: {{ data.lineCount }}
		<button data-ng-click="finish()" data-ng-disabled="data.placeDot" data-dic-text="finish"></button>
	</div>

	<div class="highscore">
		<h2 data-dic-text="highscore"></h2>
		<div data-ng-repeat="highscore in highscores">
			<span class="name" data-ng-bind="highscore.name"></span>
			<span class="score" data-ng-bind="highscore.scope"></span>
		</div>
	</div>

</body>
</html>